html,body{
  font-family: 'Raleway', sans-serif;
}

.modal-automotiva{
  border-radius: 0;
}

.list-group-item span{
  font-weight: bold;
}

.btn-lances{
  width: 100%;
}

.div-add-favoritos{
  margin: 1em 0;
  text-align: right;
}

.modal-lance-btn{
  margin-right: 1em;
}

.details{
  min-height: 560px;
}

.modal-automotiva-header{
  background-color: #006199;
  color: #fff;
}

.table-header{
  background-color: #006199;
  color: #fff;
}

.aling-right{
  text-align: right;
}

.right{
  float: right;
}

.header-title{
  padding: 1em 0 0.3em 0;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #e5e5e5;
}

.nav-color{
  background: #006199 !important;
}

.logo-img-small{
  width: 50px;
}

.form-div-btn--save{
  margin: 1em 0;
  text-align: right;
}

.btn-primary{
  background-color: #374552;
  border-color: #374552;
}

.forms-spaces{
  margin: 1em 0;
}

.no-margin-bottom{
  margin-bottom: 0;
}

.legend-space{
  margin: 0;
}

.space-radio{
  margin-bottom: 2em;
}

.reference-padding{
  padding: 0.5em 0;
}

.margin{
  margin: 1em 0;
}

.funkyradio label {
    /*min-width: 400px;*/
    width: 100%;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    font-weight: normal;
}
.funkyradio input[type="radio"]:empty, .funkyradio input[type="checkbox"]:empty {
    display: none;
}
.funkyradio input[type="radio"]:empty ~ label, .funkyradio input[type="checkbox"]:empty ~ label {
    position: relative;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: 2em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.funkyradio input[type="radio"]:empty ~ label:before, .funkyradio input[type="checkbox"]:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content:'';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
}
.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before, .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #C2C2C2;
}
.funkyradio input[type="radio"]:hover:not(:checked) ~ label, .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
    color: #888;
}
.funkyradio input[type="radio"]:checked ~ label:before, .funkyradio input[type="checkbox"]:checked ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #333;
    background-color: #ccc;
}
.funkyradio input[type="radio"]:checked ~ label, .funkyradio input[type="checkbox"]:checked ~ label {
    color: #777;
}
.funkyradio input[type="radio"]:focus ~ label:before, .funkyradio input[type="checkbox"]:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}

.funkyradio-success input[type="radio"]:checked ~ label:before, .funkyradio-success input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5cb85c;
}
.funkyradio-danger input[type="radio"]:checked ~ label:before, .funkyradio-danger input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #d9534f;
}
.funkyradio-warning input[type="radio"]:checked ~ label:before, .funkyradio-warning input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #f0ad4e;
}
.funkyradio-info input[type="radio"]:checked ~ label:before, .funkyradio-info input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5bc0de;
}
